@model Inventory_Management_System.role

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Role name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_name)
        </dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd>
            @{
                if (Model.r_status == Convert.ToByte(1))
                {
                    <p>Active</p>
                }
                else if (Model.r_status == Convert.ToByte(0))
                {
                    <p>Inactive</p>
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Roles", new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.r_id }, new { @class = "btn btn-success" })
</p>
